<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EndpointUri" value="https://cosmosample.documents.azure.com:443/" />
    <add key="PrimaryKey" value="qVMUjprjzOuGqCGBK1vZ6MUwFycePEMfMI0h4QuyI77dJ9xK2ehnvDMq4kejWGhhgtnVoSrIAbfisOiaJKspRg==" />
  </appSettings>
</configuration>